# .NET / C#
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
publish/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe

# IDE
.vs/
.idea/
.vscode/
*.DotSettings.user

# NuGet
packages/
*.nupkg

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Project — НИКОГДА не загружай эти файлы!
*.log
userconfig.json
config.local.json
appsettings.Local.json
*.rcon
